@model ImageWebApp.Models.Config
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
<h2></h2>

<p id="OutputDir">@Model.OutputDir</p>
<p id="SourceName">@Model.SourceName</p>
<p id="LogName">@Model.LogName</p>
<p id="ThumbnailSize">@Model.ThumbnailSize</p>


<script>

</script>