<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Handler" value="C:\Users\ranran9991\Pictures;C:\Users\ranran9991\Pictures\fu"/>
    <add key="OutputDir" value="C:\Users\ranran9991\Desktop\out"/>
    <add key="SourceName" value="Source"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key="ThumbnailSize" value="120"/>
  </appSettings>
</configuration>